<div class="row" id="header">
    <div class="col">

      <ul id="header-nav">
      <li><img class="logo-image" src="../assets/max-logo.png"></li>
        <li><a [routerLink]="['/home']" class="dashboard">DASHBOARD</a></li>
        <li> <a target="_blank" [href]="['http://docs.maxv1.apiary.io/']"  class="documentation">DOCUMENTATION</a></li>
        <li> <a [routerLink]="['/signup']" class="register">REGISTER</a></li>
      </ul>
     <!-- <a href="#"><hr></a> -->
    </div>
    <a [routerLink]="['/login']" class="nav-link nav-icon">
            <button class="btn btn-default btn-lg" id="header-actions">Login </button>
        </a>

  </div>
