$max: #daa520;
$black: #000;
$white: #fff;
$font:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

#header{
  margin-top: 50px;
  margin-left: 100px;
  margin-bottom: 100px;
}

.logo-image{
  height: 50px;
}
#header-nav li {
  list-style: none;
  display: inline;
  font-family: $font;
  font-weight: 300;
  font-size: 15px;
  padding-top: 50px;
  padding-right: 30px;

}

#header-actions{
  float: right;
  background-color: $white;
  border-color:  $white;
  font-family: $font;
  font-weight: 300;
  color: $black;
  margin-right: 50%;
  padding-left: 10px;
  margin-top: -5px;
  height: 50px;
  width: 150px;
}
#header-actions:hover {
  background-color: $max;
  border-color: $max;
}



a{
  text-decoration: none;
}
li > a{
 padding: 37px 1px 24px;
 background-color: transparent;
}
a:link {
  color: green;
}

a:visited {
  color:  $white;
}
a:hover {
  color: $max;
}
a:active {
  color: blue;
}

 li .dashboard{
  margin-left: 10px;

}
hr{
  width: 40%;
  margin-left: 95px;
  margin-top: 20px;
  border: 2px solid;
  color:  $white;

}

.col {
  flex: 1 0 50%;
}
