$max: #daa520;
$black: #000;
$white: #fff;
$font:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
a ,
a:hover,
a:active,
a:visited {
  color: $black;
}

a{
  text-decoration: none;

}

footer{
  padding: 30px 0 30px 0;
  background-color: $white;

}
#same-line li {
  list-style: none;
  display: inline;
  margin: auto;
  text-align: center;
}

#copy{
  padding-right: 270px;
  padding-left: 100px;
}


