<footer>
  <ul id="same-line">
    <li id="copy">© 2017 Max.</li>
    <li><a rel="nav" href="/app/ios" target="_blank">iOS</a></li>
    <li><a rel="nav" href="/app/android" target="_blank">Android</a></li>
    <li><a rel="nav" href="/about" target="_self">About</a></li>
    <li><a rel="nav" href="/apply" target="_self">Couriers</a></li>
    <li><a rel="nav" href="/jobs" target="_self">Jobs</a></li>
    <li><a rel="nav" href="/press" target="_self">Press</a></li>
    <li><a rel="nav" href="/help" target="_self">Help</a></li>
    <li><a rel="nav" href="/terms" target="_self">Terms</a></li>
    <li><a rel="nav" href="/privacy" target="_self">Privacy</a></li>
  </ul>
</footer>
