


<div class="login-wrapper">
    <form (ngSubmit)="onSubmit()" class="login" #userForm="ngForm">
        <label class="title">
            <h3 class="welcome">Sign in to MAX</h3>
        </label>
        <div class="login-group">
            <input class="email" type="text" id="login_username" placeholder="Email">

            <input class="password" type="password" id="login_password" placeholder="Password">

            <div class="checkbox">
                <input type="checkbox" id="rememberme">
                <label for="rememberme">
                    Remember me
                </label>
            </div>
            <div *ngIf="name.valid || name.pristine"
            class="error active" >
                Invalid user name or password
            </div>
            <a [routerLink]="['/deliveries']" class="delivery">
            <button type="submit" class="btn btn-primary">NEXT</button>
            </a>
           <span> Dont have an account? &nbsp; <a [routerLink]="['/signup']" class="signup">Sign up</a></span>
        </div>
    </form>
</div>
