$white: #fff;
$black: #000;
$max: #daa520;
$font:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

.login-wrapper{
  background-image: url("../home/assets/login-bkg3.jpg");
  background-repeat: repeat;

}
.signup,
.welcome,
.logo-image{
  margin: auto;
}
.mx-auto,
.logo-image{
  display: block;
}
.mx-auto,
#login_email{
  margin-bottom: 30px;
}

.mx-auto,
#gold{
  color: $black;
}

.checkbox{
  margin-top: 20px;
}
.signup{
  color: $max;
}
.welcome{
  font-weight: 10px;
  margin-bottom: 50px;
  margin-left: 60px;
}

.logo-image {
  margin-top: 30%;
  height: 80px;

}
.mx-auto {
  margin: 0;
  width: 200px;
  text-align: center;
  margin-top: 50px;
  font-size: 25px;
  font-family: $font;
}

#gold{
  background-color: $max;
  border-color: $max;
  margin-top: 20px;
}


/* change css to scss
max logo should navigate to home page
set environment variables(prod, local and staging env)
onHover(change border color)
 */
