$white: #fff;
$black: #000;
$max: #daa520;
$font:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


.main {
  background-image: url("../../assets/background.png");
  overflow: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1, .p, .mx-auto, .copy {
  color: $white;
}

p, .btn-max, #btn-color, .h3{
  color: $black;
}
.logo-image, .mx-auto{
  display: block;
}
.logo-image, #text-image, .round-image{
  margin: auto;
}
.container, .btn-max, #btn-color, #row{
  background-color: $white;
}


.logo-image {
  margin-top: 50px;
  height: 80px;
}

.mx-auto {
  margin: 0;
  width: 200px;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.float-right {
  margin: 0 0 10px 10px;
  margin-right: 50px;
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 30%;
}

.col {
  flex: 1 0 50%;
}

.float-left {
  border-radius: 20px;
  margin-bottom: 10px;
  width: 600px;
  height: 400px;
}

#text-image {
  padding-top: 10px;
}

.btn-max {
  border-color: $white;
}


#button-hover:hover {
  background-color: $max;
}

.btn {
  font-family: $font;
  font-weight: 300;
  transition: all 0.25s ease;
}

.btn:hover {
  border-color: $max;
}

.side-text {
  margin-left: 300px;
  margin-right: 150px;
  margin-top: 50px;
  float: left;
}

#btn-color {
  height: 50px;
  width: 100px;
}

.round-image {
  margin-top: 50px;
  height: 150px;
}


.container {
  display: flex;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
  padding-right: 100px;
  padding-left: 100px;
  margin-left: 50px;
}

.row {
  overflow-x: hidden;
  margin: 0;
  padding-top: 50px;
  padding-left: 70px;
}



